body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* app styles */
  .App {
    max-width: 400px;
    margin: 32px auto;
    /* text-align: center; */
  }
  nav, .SongList {
    padding: 8px;
  }
  nav ul, .SongList {
    padding: 0;
  }
  nav ul li, .SongList {
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;
  }
  .BookList {
    padding: 24px;
    margin-bottom: 24px;
  }
  .BookList ul {
    padding: 0;
    list-style-type: none;
  }
  .BookList li {
    padding: 12px;
    margin: 12px auto;
    border-radius: 8px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #553055;
  }
  .App {
    background: #4c2a4c;
    margin: 20px auto;
    width: 90%;
    max-width: 700px;
    color: #eee;
  }
  .Navbar {
    padding: 10px 20px;
    text-align: center;
    background: #6d3d6d
  }
  .Navbar h1 {
    margin: 10px 0;
  }