body {
  background-color: white;
  color: rgb(8, 8, 8);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  margin: 100px auto 8px auto;
  font-weight: 400;
}
ul {
  list-style: none;
  font-weight: 400;
}
.appContainer {
  width: 440px;
  margin: 0 auto;
  border: 2px solid black;
}
